.header {
    padding: 10rem 0 7rem;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .logo {
        color: #333333;
        font-size: 1.25rem;
        font-weight: 700;
        text-decoration: none;
    }
    
    
    
    .nav-list {
        display: flex;
        list-style-type: none;
        margin: 0;
    }
    
    .nav-item {
        color: #999999;
        font-size: .9rem;
        margin-right: 1.3rem;
        text-decoration: none;
    }
    
    .nav-item:hover {
        color: #555b72;
    }
    
    .active-nav-item {
        color: #333333;
    }

}


.burger {
    display: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(200%);
    }
    .nav-list li{
        opacity: 0;
    }
    .burger {
        display: block;
    }
}


.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}